.header {
    text-align: center;
    background: gainsboro;
    color: midnightblue;
    font-size: large;
    font-family: emoji;
    border: 1px solid gray;
}

.navbar {
    background: darkgrey;
    overflow: hidden;
}

.navbar>a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    float: left;
    text-align: center;
    font-size: 20px;
}

.navbar>a:hover {
    background-color: dimgray;
}

.navbar a :active {
    background-color: #04AA6D;
    ;
}

.navbar i {
    padding: 10px;
    font-size: 20px;
}

.flex-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container img {
    height: 400px;
    max-width: 100%;
}

.flex-container div {
    color: white;
    position: absolute;
    font-size: 50px;
}

.footer {
    text-align: center;
    background-color: beige;
    padding: 20px;
    color: black;
    font-style: oblique;
    font-size: large;
}